In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pickle

In [3]:
df=pd.read_csv("students_placement.csv")

In [6]:
df.head(10)

   cgpa   iq  profile_score  placed
0  5.97  106             61       0
1  6.83  113             77       0
2  6.60  110             61       0
3  5.54  113             68       0
4  6.84  102             67       0
5  7.15   98             63       1
6  7.40  100             71       1
7  7.97   86            100       1
8  6.64  111             56       0
9  7.82   99             58       0

In [7]:
X=df.drop(columns=['placed'])
y=df['placed']

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [9]:
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.9

In [13]:
import pickle

In [15]:
pickle.dump(rf,open('model.pkl','wb'))